
* {
  padding: 0;
  margin: 0;
}
body{
  background-image: url("https://wallpaperaccess.com/full/151029.jpg");
}
.Choinka{
  display: block;
  height: 100vh;
  width: 50vw;
  background-image: url("https://img.freepik.com/free-photo/merry-christmas-red-background_1361-3542.jpg?w=2000");
  margin: auto;
}

.tree{
  display: block;
  margin: auto;
  width: 500px;
}

.gift1{
  position: absolute;
  top: 75vh;
  width: 15vw;
}
.gift2{
  position: absolute;
  top: 80vh;
  width: 15vw;
  left: 40vw;
}
.gift3{
  position: absolute;
  top: 80vh;
  width: 15vw;
  left: 55vw;
}